--
-- PostgreSQL database dump
--

\restrict HWGx378QGdXUHgvYht6D6Xj1tG5of0FIWWqntvfYHhlipP8BSroUTiVhgijrTZd

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: user
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO "user";

--
-- Name: feeling_enum; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public.feeling_enum AS ENUM (
    'good',
    'neutral',
    'bad',
    'anxious',
    'relaxed'
);


ALTER TYPE public.feeling_enum OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: user
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO "user";

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: user
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO "user";

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: user
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: exercices; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.exercices (
    exercice_id integer NOT NULL,
    title character varying,
    description text,
    type character varying,
    total_duration integer,
    inhalation_duration integer,
    hold_duration integer DEFAULT 0,
    exhalation_duration integer,
    cycle_ integer,
    status boolean
);


ALTER TABLE public.exercices OWNER TO "user";

--
-- Name: exercices_exercice_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.exercices_exercice_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exercices_exercice_id_seq OWNER TO "user";

--
-- Name: exercices_exercice_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.exercices_exercice_id_seq OWNED BY public.exercices.exercice_id;


--
-- Name: mental_health_content; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.mental_health_content (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    body text NOT NULL,
    category character varying(100) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    created_by integer
);


ALTER TABLE public.mental_health_content OWNER TO "user";

--
-- Name: mental_health_content_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.mental_health_content_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mental_health_content_id_seq OWNER TO "user";

--
-- Name: mental_health_content_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.mental_health_content_id_seq OWNED BY public.mental_health_content.id;


--
-- Name: user_exercice; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.user_exercice (
    user_id integer,
    exercice_id integer NOT NULL,
    feeling public.feeling_enum NOT NULL,
    date_completion timestamp without time zone NOT NULL,
    id integer NOT NULL,
    guest_id character varying(255) DEFAULT NULL::character varying
);


ALTER TABLE public.user_exercice OWNER TO "user";

--
-- Name: user_exercice_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.user_exercice_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_exercice_id_seq OWNER TO "user";

--
-- Name: user_exercice_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.user_exercice_id_seq OWNED BY public.user_exercice.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    last_name character varying,
    first_name character varying,
    gender character varying,
    birth_day date,
    login character varying NOT NULL,
    password text NOT NULL,
    street_number character varying,
    street_name character varying,
    city character varying,
    postal_code integer,
    country character varying,
    address_complement character varying,
    role character varying DEFAULT 'User'::character varying NOT NULL,
    registration_date date,
    email character varying NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO "user";

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Name: exercices exercice_id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.exercices ALTER COLUMN exercice_id SET DEFAULT nextval('public.exercices_exercice_id_seq'::regclass);


--
-- Name: mental_health_content id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.mental_health_content ALTER COLUMN id SET DEFAULT nextval('public.mental_health_content_id_seq'::regclass);


--
-- Name: user_exercice id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_exercice ALTER COLUMN id SET DEFAULT nextval('public.user_exercice_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: user
--

COPY drizzle.__drizzle_migrations (id, hash, created_at) FROM stdin;
1	cb1cf18148bd0a9cb1ccaece66b791dcbe0bf54e179aa2b2ef54ba58ebabcb63	1769778389662
2	aa5f3c2e3b5dd533c2e1f320af44dfd3d70561aea18c28c94951b6d7b2812c61	1773151038941
3	5761ce411816c49903a2a1ff346f8a19ba82a683f59065456fa5a18745b60d7e	1773338916452
4	e94c93515458d5589c699645381133fee98adb6c5979cc28cae77cd0048a4d62	1773410838010
5	4821c9d1b473a4b512b422c7d5193ea1750e17c9c63c9e4d095f1ca9108dd637	1774203466234
6	d5c9c8f6bb06ab8a5d45bd0a03622b60fb9a49873745215431b2254ec1f7b941	1774801272038
\.


--
-- Data for Name: exercices; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: mental_health_content; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: user_exercice; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: user
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 6, true);


--
-- Name: exercices_exercice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.exercices_exercice_id_seq', 6, true);


--
-- Name: mental_health_content_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.mental_health_content_id_seq', 12, true);


--
-- Name: user_exercice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.user_exercice_id_seq', 56, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.users_user_id_seq', 25, true);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: exercices exercices_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.exercices
    ADD CONSTRAINT exercices_pkey PRIMARY KEY (exercice_id);


--
-- Name: mental_health_content mental_health_content_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.mental_health_content
    ADD CONSTRAINT mental_health_content_pkey PRIMARY KEY (id);


--
-- Name: user_exercice user_exercice_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_exercice
    ADD CONSTRAINT user_exercice_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_login_unique; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_login_unique UNIQUE (login);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: mental_health_content mental_health_content_created_by_users_user_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.mental_health_content
    ADD CONSTRAINT mental_health_content_created_by_users_user_id_fk FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: user_exercice user_exercice_exercice_id_exercices_exercice_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_exercice
    ADD CONSTRAINT user_exercice_exercice_id_exercices_exercice_id_fk FOREIGN KEY (exercice_id) REFERENCES public.exercices(exercice_id);


--
-- Name: user_exercice user_exercice_user_id_users_user_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_exercice
    ADD CONSTRAINT user_exercice_user_id_users_user_id_fk FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict HWGx378QGdXUHgvYht6D6Xj1tG5of0FIWWqntvfYHhlipP8BSroUTiVhgijrTZd

